.header{
 width: 98%;
 height: 70px;
 background: #2ecc71;
 padding: 0 20px;
 color: #fff;
 position: fixed;
 z-index: 900;
 left: 0;
 top: 0;
}
.logo{
 height: 50px;
}

.menu{
 float: right;
 line-height: 50px;
}
.menu a{
 color: #fff;
 text-transform: uppercase;
 text-decoration: none;
 font-family: sans-serif;
 padding: 0 10px;
 transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
 transition: 1s;
 font-size: 70px;
 cursor: pointer;
 display: none;
}
.show-menu-btn{
 float: right;
 margin-right: 30px;
 margin-top: 20px;
}
.show-menu-btn i{
 line-height: 50px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
 color: #3498db;
}

#chk{
 position: absolute;
 visibility: hidden;
 z-index: -1111;
}

.menutext {
 font-size: 1px;
 position: absolute;
 opacity: 0;

}

.menu i {
 margin-top: 15px;
 font-size: 30px;
 line-height: 0px;
 padding-top: -30px;
}

/* Menü Kopfzeile - Ende */


   /* Großes Menü / Smartphone Menü - Start */
   @media screen and (max-width:1000px) {
     .show-menu-btn,.hide-menu-btn{
       display: block;
     }
     .menu{
       position: fixed;
       width: 100%;
       height: 100vh;
       background: #333;
       right: -100%;
       top: 0;
       text-align: center;
       padding: 200px 0;
       line-height: normal;
       transition: 0.7s;
       z-index: 100;
     }
     .menu a{
       display: block;
       padding: 70px;
     }
     .hide-menu-btn{
       position: absolute;
       top: 50px;
       right: 100px;
     }
     #chk:checked ~ .menu{
       right: 0;
     }

     .menutext {
       font-size: 50px;
       position: relative;
       opacity: 1;
     }

     .innermenu i {
       font-size: 70px;
       position: absolute;
       transform: translate(-50%,-50%);
       opacity: 0.5;
     }
     .header {
       height: 120px;
     }
     .logo {
       height: 140px;
     }
   }
/* Großes Menü / Smartphone Menü - Ende */
