*{
  font-family: "montserrat",sans-serif;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

section {
 position: relative;
 width: 100%;
 height: 100vh;
 overflow: hidden;
}

.desktop {
  visibility: visible;
}

@media screen and (max-width:1000px) {
  .desktop {
    visibility: hidden;
  }
  .mobile {
    visibility: visible;
  }
}


.page{
  background: #f1f1f1;
  display: flex;
  flex-wrap: wrap;

}
.col{
  flex: 1;
  height: 100vh;
  position: relative;
}

.countdown-col{
  background: url(../bg-img.jpg) no-repeat center;
  background-size: cover;
}
.time{
  color: #097006;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.time span{
  padding: 0 14px;
  font-size: 20px;
  justify-content: center;
}
.time span div{
  font-size: 50px;
}
