/* NOTE: Lichteffekt im Fullscreen hinter die div */


body {
  background-color: #333;
  position: relative;
}
.icon {
  background-color: green;
  border-radius: 50%;
  border-top-left-radius: 5%;
  transition: 0.5s;
  cursor: pointer;
  transform: translate(-50%,-50%);
  float: left;
  width: 160px;
  height: 160px;
  margin-top: 25vh;
  margin-left: 20%;
}

.icon:hover{
  border-radius: 10%;
  transform: scale(1.2) translate(-42%,-42%);
}


.icon i {
  color: #fff;
  font-size: 110px;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%,-50%);
}

@media screen and (max-width:1000px) {
  body {
    background-color: #efefef;
  }
  .icon {
    float: none;
    margin-top: 10vh;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    width: 250px;
    height: 250px;
  }
  .icon i {
    font-size: 180px;
  }
}
